.benefit {
  margin-bottom: 2rem;
  max-width: 400px;
  text-align: center;
}

.benefit img {
  margin: 0 0 1rem 0;
  width: inherit;
  max-width: 150px;
}

.benefit p {
  margin-top: 2rem;
  text-align: justify;
}
