.job-container {
  margin: 2rem 0;
}

.job-role {
  color: #089F9F;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .job-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
