.jobContainer {
  margin: 2rem 0;
}

.jobRole {
  color: var(--link-color);
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .jobContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
