.header {
  position: relative;
}

.header img {
  width: 100vw;
}

.titleContainer {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
}

.titleContainer h1 {
  color: var(--text-color-light);
  text-shadow: 1px 1px 3px var(--text-shadow-color);
}
