* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --elo7-yellow: #EBB93E;
  --text-color-dark: #666;
  --text-color-light: #FFF;
  --link-color: #089F9F;
  --background-grey: #F8F8F8;
  --border-color: #CCC;
  --text-shadow-color: #212121;
}
