p {
  color: #666;
  line-height: 1.5;
  font-size: 0.9rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  color: #666;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 1rem;
}

h3 {
  color: #666;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.link {
  margin-top: 1rem;
  background: transparent;
  text-decoration: none;
  border: none;
  border-top: 1px solid;
  border-color: #ccc;
  padding: 1rem 1rem 0 1rem;
  outline: none;
  text-transform: uppercase;
  color: #089F9F;
  font-weight: 500;
  cursor: pointer;
}

.link::after {
  content: " »";
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}

.p-2 {
  padding: 2rem;
}

.w-100 {
  width: 100%;
}

.mt-2 {
  margin-top: 2rem;
}

.bg-gray {
  background-color: #F8F8F8;
}

em {
  color: #EBB93E;
  font-weight: 600;
}

.benefit {
  margin-bottom: 2rem;
  max-width: 400px;
}

.benefit img {
  margin: 0 0 1rem 0;
  max-width: 150px;
}

.benefit p {
  margin-top: 2rem;
}

.job-container {
  margin: 2rem 0;
}

.job-role {
  color: #089F9F;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  #elo7-ceo.flex-container {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  #elo7-ceo.flex-container img {
    width: 50%;
  }

  #elo7-ceo.flex-container article {
    align-self: flex-start;
    width: 50%;
    margin-left: 3rem;
  }

  #elo7-employees .grid-container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }

  #elo7-employees .grid-container img {
    width: 100%;
  }

  #elo7-benefits .grid-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .job-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  p, a, em {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.3rem;
  }
}
