.ceoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ceoInfo em {
  color: var(--elo7-yellow);
  font-weight: 600;
}

.ceoInfo p {
  text-align: justify;
  margin-top: 2rem;
}

.ceoContainer video {
  width: inherit;
}

@media screen and (min-width: 768px) {
  .ceoContainer {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  .ceoContainer video {
    width: 50%;
  }

  .ceoInfo {
    align-self: flex-start;
    width: 50%;
    margin-left: 3rem;
  }
}
