.line {
  border-top: 1px solid var(--border-color);
  width: 250px;
  height: 1px;
}

.link {
  margin: 1rem 1rem 0 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--link-color);
  font-weight: 500;
}

.link::after {
  content: " »";
}
